In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
induct = pd.read_csv('data/update/output/2020.csv')
induct.drop(['Unnamed: 0',  'Years Waited', 'Year Inducted','In_Out','Artist','Highest Position','# of Years Nominated'], axis=1, inplace=True)
induct

,Influenced,Certified Units (Millions),Albums in RS500,Top 100 Singles,Times on Cover of RS,Score,Spotify
0,15,37.0,0.0,16,3.0,3.60,13317210
1,47,27.5,3.0,57,6.0,3.60,7333353
2,24,16.5,0.0,5,0.0,3.58,3950265
3,9,11.0,0.0,4,1.0,3.29,2350040
4,23,7.0,0.0,10,4.0,3.72,9593583
5,47,6.5,1.0,5,1.0,4.00,7407342
6,25,6.0,1.0,3,1.0,4.00,12472626
7,23,4.5,0.0,0,5.0,3.77,3395813
8,3,3.0,0.0,6,0.0,3.83,1522901
9,28,2.0,1.0,6,0.0,4.63,1714968
10,34,2.0,0.0,3,1.0,4.30,8612208
11,12,0.5,1.0,0,0.0,4.08,1465728
12,18,0.5,0.0,1,0.0,3.64,2472912
13,2,0.0,0.0,0,0.0,3.86,271745
14,18,0.0,0.0,0,0.0,4.13,187862
15,35,0.0,0.0,0,0.0,4.25,1193382

In [5]:
nonhall = pd.read_csv('data/update/output/all_out.csv')
nonhall.drop(['Unnamed: 0',  'Years Waited', 'Year Inducted','In_Out','Highest Position','# of Years Nominated','Artist' ], axis=1, inplace=True)
nonhall.head()

,Influenced,Certified Units (Millions),Albums in RS500,Top 100 Singles,Times on Cover of RS,Score,Spotify
0,35,58.5,1.0,44,2.0,3.34,10097654
1,10,37.5,0.0,22,0.0,3.33,4433917
2,10,33.5,0.0,27,2.0,3.69,9088326
3,19,31.5,2.0,10,1.0,3.37,2402084
4,13,31.0,0.0,10,0.0,3.17,3549556

In [6]:
hall = pd.read_csv('data/update/output/artist_data.csv')
hall.head()
hall.drop(['Unnamed: 0', 'Years Waited', 'Year Inducted', 'Artist',  '# of Years Nominated', 'Highest Position'], axis=1, inplace=True)
hall.head()

,Influenced,Certified Units (Millions),Albums in RS500,Top 100 Singles,Times on Cover of RS,Score,Spotify,In_Out
0,1230.0,178.0,10.0,80,16.0,4.81,15022354,1
1,273.0,146.5,3.0,158,7.0,3.31,7518562,1
2,17.0,120.0,2.0,21,3.0,3.50,8989332,1
3,355.0,111.5,5.0,10,12.0,4.50,10306295,1
4,176.0,84.0,3.0,49,6.0,3.65,24068900,1

In [7]:
# sns.pairplot(hall,hue='In_Out',palette='Set1')

In [8]:
from sklearn.model_selection import train_test_split

X = hall.drop('In_Out', axis =1)
y = hall['In_Out']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_test.columns

Index(['Influenced', 'Certified Units (Millions)', 'Albums in RS500',
       'Top 100 Singles', 'Times on Cover of RS', 'Score', 'Spotify'],
      dtype='object')

In [9]:
# #### these result are only to 1 DECIMAL place
# from sklearn.ensemble import RandomForestClassifier
# classify = RandomForestClassifier()
# classify.fit(X_train,y_train)
# induct_prob = classify.predict_proba(induct)
# ip = pd.DataFrame(induct_prob)
# ip

In [10]:
# from sklearn.ensemble import RandomForestClassifier
# classify = RandomForestClassifier(n_estimators=500)
# classify.fit(X_train,y_train)
# #(classify.predict_proba(X_test))
# fclass = classify.predict_proba(induct)
# fclass1 = pd.DataFrame(fclass)
# fclass1

In [11]:
from sklearn.ensemble import RandomForestClassifier
classify = RandomForestClassifier(n_estimators=500)
classify.fit(X_train,y_train)
#(classify.predict_proba(X_test))
decimals = classify.predict_proba(induct)
decimals = pd.DataFrame(decimals)
decimals

        0      1
0   0.196  0.804
1   0.006  0.994
2   0.414  0.586
3   0.902  0.098
4   0.440  0.560
5   0.454  0.546
6   0.528  0.472
7   0.736  0.264
8   0.770  0.230
9   0.434  0.566
10  0.512  0.488
11  0.844  0.156
12  0.906  0.094
13  0.908  0.092
14  0.972  0.028
15  0.972  0.028

In [35]:
induct2 = pd.read_csv('data/update/output/2020.csv')
induct1 = induct2['Artist']
#induct1 = induct1.iloc[::-1]
df = pd.DataFrame(data=induct1)
df.reset_index(inplace=True)
classof2020 = pd.concat([df,decimals], axis=1)
classof2020 = classof2020.rename(columns={1 : "Probability"})
classof2020.columns
classof2020 = classof2020.sort_values(by=["Probability"], ascending=False)
classof2020.drop(['index',0], axis=1)

                   Artist  Probability
1                   Jay-Z        0.994
0         Backstreet Boys        0.804
2                    Korn        0.586
9                D'Angelo        0.566
4            Foo Fighters        0.560
5                  Weezer        0.546
10              Daft Punk        0.488
6                   Oasis        0.472
7          Marilyn Manson        0.264
8                 Garbage        0.230
11                  Wilco        0.156
3                    Bush        0.098
12  The Chemical Brothers        0.094
13             Gov't Mule        0.092
14         Sleater-Kinney        0.028
15          Elliott Smith        0.028

In [ ]:
classof2019.to_csv("output/predictions.csv")

In [2]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train,y_train)
predictions = dtree.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
from sklearn import metrics

print(classification_report(y_test,predictions))

NameError: name 'X_train' is not defined

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classify = RandomForestClassifier(n_estimators=500)
classify.fit(X_train,y_train)
#(classify.predict_proba(X_test))
print(classify.predict_proba(induct))
print(confusion_matrix(y_test,predictions))

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=600)
rfc.fit(X_train,y_train)
predictions = rfc.predict(X_test)
print(classification_report(y_test,predictions))
print(confusion_matrix(y_test,predictions))
list(zip(hall.columns, rfc.feature_importances_))

In [ ]:
future2 = pd.read_csv('output/2044.csv')
future1 = future2['Artist']
#induct1 = induct1.iloc[::-1]
df = pd.DataFrame(data=future1)
df.reset_index(inplace=True)
classof2044 = pd.concat([df,fclass1], axis=1)
classof2044.columns
classof2044.drop(['index',0], axis=1)

In [ ]:
from IPython.display import Image  
from sklearn.externals.six import StringIO  
from sklearn.tree import export_graphviz
import pydot 

features = list(induct.columns)
features

In [ ]:
dot_data = StringIO()  
export_graphviz(dtree, out_file=dot_data,feature_names=features,filled=True,rounded=True)

graph = pydot.graph_from_dot_data(dot_data.getvalue())  
Image(graph[0].create_png())

In [ ]:
df = pd.read_csv('output/artist_data.csv')
test1 = df.groupby(['# of Years Nominated', 'In_Out']).groups
print(test1)